.cart-content {
  text-align: left;
  margin-left: 15px;
}

.cartbox-right {
  width: 200px;
  float: left;
  border: 1px solid black;
  height: 100px;
}

.cartbox-left {
  float: left;
  min-width: 350px;
  width: calc(100% - 202px);
}

.product-row {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
  overflow: auto;
}

.product-row a {
  height: auto;
  color: black;
}

#product-pic {
  height: 100px;
  width: 100px;
  float: left;
}

.product-inner-row-left {
  float: left;
  width: 100px;
}

.product-inner-row-right {
  display: inline-block;
  float: left;
  width: calc(100% - 100px);
}

.total-price {
  font-weight: 600;
}

.total a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px;
}

.total a:hover {
  background-color: green;
  color: white;
}

.selectQnty {
  width: 67px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

.prod-name-cart-page {
  font-size: 1.2em;
  font-weight: 600;
}

.prod-name-cart-page a {
  text-decoration: none;
  color: black;
}

.prod-name-cart-page a:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .product-row {
    max-width: calc(100vw - 20px);
  }
  .cartbox-left {
    max-width: 100vw;
    min-width: 100vw;
  }
  .cartbox-right {
    width: 100vw;
    border: none;
    float: left;
  }
}
