.pageNumbering {
  display: block;
  margin: 1em;
}

.pageNumbering form {
  margin: 0 calc(-0.14em + 0.2em);
  display: inline-block;
}

.pageNumbering form input,
.pageNumbering label {
  background: whitesmoke;
  border: gray 1px solid;
  display: inline-block;
  float: left;
  text-align: center;
  box-sizing: content-box;
  font-size: 1em;
  width: 6em;
  height: 1.8em;
  line-height: 1.8em;
  align-items: center;
  margin: 0 0.2em;
  padding: 0;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.pageNumbering form label {
  border: none;
  background: none;
  text-align: right;
}
.pageNumbering form input[type=number] {
  background: none;
}

.pageNumbering form input:hover {
  font-weight: bold;
}
