.checkout-box {
  overflow: auto;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

.checkout-col {
  width: calc(100%/3);
  min-width: 300px;
  float: left;
  height: auto;
}

.checkout-col > div {
  margin: 1em auto;
}

.checkout-col p {
  text-align: center;
}

.pay {
}

.checkout-col label {
  float: left;
}

.checkout-col input[type="email"], input[type="text"]{
}

.personaldetails-box p{
  text-align: right;
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .checkout-col {
    width: calc(100%/2);
  }
  .pay {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .checkout-col {
    width: 100vw;
  }
}
