html {
  line-height: 1.3em;
	margin:0;
	padding:0;
	height:100%;
}

body {
  font-size: 0.8em;
  width: 100%;
  display: block;
  margin: 0;
  font-family: Helvetica, 'Arial CE', Arial;
}

.main {
   /* max-width: 1440px; */
   margin: 0 auto;
   margin-top: 60px;
   text-align: center;
   max-width: 980px;
   overflow: auto;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.headline {
  font-size: 1.5em;
  font-weight: 600;
  text-align: left;
  padding: 0.5em 0;
  border-bottom: 1px solid gray;
}

@media screen and (max-width: 1000px) {
  .headline {
    text-align: center;
    margin: 0em 0.5em;
  }
}

.checkboard {
  display: inline-block;
  margin: 10px;
  max-width: 225px;
  max-height: 410px;
}

.details {
  width: auto;
  max-height: 80px;
  overflow: auto;
  text-align: left;
  align-content: center;
}

.name {
  font-size: 1.2em;
  font-weight: 600;
  max-width: 225px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name a {
  text-decoration: none;
  color: black;
}

.name a:hover {
  cursor: pointer;
}

.picture img {
  height: 225px;
}

.errorpage {
  text-align: center;
  line-height: 100px;
  font-size: 3em;
}

img.picturesad {
    width: 350px;
    height: 350px;
    margin-top: -65px;
}

.inline {
  display: inline-block;
}

.red {
  color: red;
  font-weight: 400;
  text-align: left;
}

.selectQuantity {
  height: 2em;
  overflow: hidden;
  width: 5em;
}

.selectQuantity select {
  background: transparent;
  border: none;
  font-size: 1.2em;
  height: inherit;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: inherit;
  color: black;
}

.rounded {
  border: 1px solid gray;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.semi-square {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.green {
  color: green;
  text-align: left;
}

.btnStandard,
form input:not([type=submit]) {
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
  height: 3em;
  font-size: 1em;
}

.btnNegative {
  border: 1px solid red;
  background-color: white;
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.btnNegative:hover {
  background-color: rgba(255,0,0,0.2);
  cursor: pointer;
  color: red;
}

.btnS {
  font-size: 1em;
  padding: 0;
  width: 80;
}
