#mc {
	min-height:calc(100% - 4.7em);
	position:relative;
}

.main {
  padding-bottom:18em; /* Height of the footer element */
}

#footer {
  display: block;
  width: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  height: 18em;
  text-align: center;
	position:absolute;
	bottom:0;
	left:0;
}

@media screen and (max-width: 630px) {

	.main {
	  padding-bottom:22em; /* Height of the footer element */
	}

	#footer {
		height: 22em;
	}
}
