nav {
  top: 0;
  position: fixed;
  display: inline-block;
  background: #f5f5f5;
  font-size: 1.5em;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: visible;
  height: 2.5em;
  line-height: 2.5em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navBar {
  max-width: 1000px; /* for a maximum width on big screens so the navbar doesn't fall apart. */
  margin: 0 auto;
  padding: 0;
}

.navBar ul {
  padding: 0;
}

.navBar li {
  list-style: none;
}

.navBar a {
  display: block;
  color: gray;
  text-decoration: none;
  text-transform: uppercase;
}

.navBar a:hover {
  cursor: pointer;
}

nav ul > li {
  display: inline-block;
  float: left;
  margin: 0;
  height: 2.5em;
  text-align: center;
  padding: 0;
}

#cart-icon {
  height: 2.5em;
}

.dropdown-content {
  display: none;
  background: #f5f5f5;
  font-size: 0.8em;
}

.dropdown-content a {
  border-top: 1px solid lightgray;
}

.navBarImg {
  padding-top: 0.5em;
  height: 1.5em;
  width: 1.5em;
}

/* Desktop */
@media screen and (min-width: 901px) {
  #logo {
    width: 15%;
    font-weight: bold;
  }

  #logoMobile {
    display: none;
  }

  #search {
    width: 45%;
  }

  #menu-icon {
    display: none;
  }

  #navMenu {
    width: 30%;
    float: left;
  }

  #navMenu ul {
    padding: 0;
  }

  #navMenu ul li {
    float: left;
    display: block;
    width: 50%;
    margin: 0;
  }

  #cart-icon {
    width: 10%;
    float: left;
    text-align: center;
  }

  .dropdown-content {
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  }
}

/* Smartphone and Tablet together */
/*@media screen and (max-width: 480px)*/
/*@media screen and (min-width: 481px) and (max-width: 900px)*/
@media screen and (max-width: 900px) {
  #logo {
    display: none;
  }

  #logoMobile {
    display: inline-block;
    width: 25%;
    font-weight: bold;
    line-height: 1.3em;
  }

  #search {
    width: 65%;
  }

  #menu-icon {
    width: 10%;
    -webkit-filter: invert(1);
    filter: invert(1);
    cursor: pointer;
  }

  .dropdownMobile {
    display: none;
    background: #f5f5f5;
    width: 100%;
    max-width: 10em;
    float: right;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: scroll;
    max-height: calc(100vh - 2.5em);
  }

  #navMenu li {
    height: auto;
  }

  .dropdownMobile a {
    padding-left: 1em;
  }

  .dropdownMobile .dropdown-content a {
    padding-left: 2em;
  }
  .dropdownMobile li {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
  }

  .dropdownMobile > li,
  .dropdownMobile li .dropdown{
    border-top: 1px solid lightgray;
  }
}
