.order-box {
  overflow: auto;
  width: auto;
  border-bottom: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
}

.order-innerbox {
  display: inline-block;
}

.order-col {
  display: block;
  width: calc(100%/2);
  min-width: 300px;
  float: left;
  height: auto;
}

.order-col > div {
  margin: 1em auto;
}

.order-col p {
  text-align: center;
}

.pay {
}

.order-col label {
  float: left;
}

.personaldetails-box p{
  text-align: right;
}

@media screen and (max-width: 600px) {
  .order-col {
    width: 100vw;
    min-width: 100vw;
    float: none;
  }
}
