.personaldetails-box {
    width: 230px;
    min-width: 210px;
    height: auto;
    margin: 0 auto;
}

.personaldetails-box label {
  font-size: 1.2em;
  line-height: 1.2em;
}

.mb-10 {
  margin-bottom: 10px;
}

.size-surrounding-area {
  width: 200px;
  height: 33px;
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
