.mainContainer {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  overflow: visible;;
}

.subContainer {
  display: block;
  float: left;
  margin: 0 auto;
}

.half {
  display: block;
  max-width: calc(480px / 2);
  width: calc(100% / 2);
  height: auto;
}

.picture {
  /* no specific styles to add. */
}

.actionbox {
  /* no specific styles to add. */
  padding: 1em;
}

.actionbox span {
  display: block;
  float: left;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  max-width: 100%;
}

.actionbox .name{
  font-size: 1.8em;
  font-weight: normal;
  white-space: pre-line;
  line-height: 1em;
}

.actionbox .price {
  font-size: 1.3em;
}

.addToCartComp {
  height: 2em;
  float: left;
}

.addToCartComp .selectQuantity,
.addToCartComp .addToCartBtn {
  float: left;
}

.addToCartBtn {
  margin-left: 1em;
  background-color: #f5f5f5;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
}

.addToCartBtn:hover {
  filter: invert(100%);
  background-color: white;
  cursor: pointer;
}

h2 {
  text-align: left;
}

.text .details {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  max-height: none;
  padding: 1em 0;
  max-width: 100%;
  overflow: visible;
}

.text {
  width: 100%;
  height: auto;
  display: block;
  padding: 1em;
  float: left;
}

/* Smartphone */
@media screen and (max-width: 480px) {
  .half {
    width: 100%;
    max-width: 100%;
  }

  .subContainer {
    max-width: calc(100vw - 2em);
  }
}
