/* Such-/Eingadefelder*/
.search-navbar{
  width: 90%;
  margin-top: 0.7em;
  padding: 0.2em;
  border: 1px solid black;
  font-size: 0.8em;
}

/*Dropdown Layout der Instant Search*/
.dropdown-search-navbar {
  display: none;
  width: calc(90% - 2px);
  margin: 0 auto;
  overflow: scroll;
  max-height: calc(100vh - 2.5em);
  font: normal 16px/1 Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  -webkit-box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid black;
  border-top: none;
}

.result-line {
  min-height: 60px;
  height: auto;
  border-bottom: 1px solid lightgray;
}

.result-line a {
  padding: 5px;
  height: auto;
}

.result-line a:hover {
    color: black;
}

.search-result-image {
  width: 50px;
  height: 50px;
  float: left;
}

#search-pic {
  max-height: 100%;
  max-width: 100%;
}

.search-result-details {
  width: auto;
  overflow: hidden;
  padding: 0 auto;
  padding-left: 15px;
}

.search-result-details span{
  width: 100%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.founderror {
  padding: 15px;
}
